body{
    font-family: 'Poppins', sans-serif;
}
p{
    text-align: justify;
}
.carousel-item{
    background-color: #FEEAE9;
    height: 500px;
    border-radius: 10px;
}
.carousel-item img{
    width: 100%;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding:  5px 15px;
    background-image: linear-gradient(to right, #FF589B, #FF136F);
}
.carousel-indicators .active {
    background-image: linear-gradient(to right, #FF136F, #FF589B);
}
.categories-1{
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
}
.categories-2{
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
}
.categories-3{
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4289FF, #3F07F8);
}
.anchor-style{
    color: #FF9D00;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.card{
    border-radius: 8px;
    box-shadow: 10px 10px 30px lightgray;
}
.contact-area{
    height: 350px;
    border-radius: 10px;
    background-color: #FEEAE9;
}